<!-- <p ng-hide="user" id="site-footer" class="mt-4"><strong>&copy; 2018 Fullstack Prototyper</strong> | <a href="#!/login">Login</a> | <a href="#!/register">Create an Account</a></p> -->
<!-- <p ng-show="user" id="site-footer" class="mt-4"><strong>&copy; 2018 Fullstack Prototyper</strong> | Logged in as {{user.email}} | <a href="#!/logout">Logout</a></p> -->

<div class="pt-4 my-md-5 pt-md-5 border-top">
  <div class="row">
    <div class="col-12 col-md">
      <p ng-show="user">Logged in as <strong>{{user.email}}</strong></p>
      <p ng-hide="user">Need an account? <a href="#!/register">Register here.</a></p>
      <span app-name></span>
      <small class="d-block mb-3 text-muted">&copy; 2018-2019</small>
    </div>
    <div class="col-6 col-md">
      <h5>Features</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#!/about">Feature Info A</a></li>
        <li><a class="text-muted" href="#!/about">Feature Info B</a></li>
        <li><a class="text-muted" href="#!/about">Feature Info C</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Resources</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#!/about">Resource A</a></li>
        <li><a class="text-muted" href="#!/about">Resource B</a></li>
        <li><a class="text-muted" href="#!/about">Resource C</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>About</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#!/about">Contact</a></li>
        <li><a class="text-muted" href="#!/about">Privacy</a></li>
        <li><a class="text-muted" href="#!/about">Terms</a></li>
      </ul>
    </div>
  </div>
</div>